
body{
	margin : 10%;
}
#slider {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
	box-shadow: 0 0 30px rgba(0, 0, 0, 3);
}

ul {
	position: relative;
	list-style:none;
	height: 100%;
	width: 9999%;
	padding: 0;
	margin: 0;
	transition: all 750ms ease;
	left: 0;
}
li { 
	position: relative;
	height: 100%;
	width: 80vw;
	float: left;

}

li:nth-child(1) {
	background: #2FBBE6;
	/* background-image: url(http://www.slidesjs.com/img/example-slide-350-1.jpg); */
}
li:nth-child(2) {
	background: #E67A2F;
	/* background-image: url(http://wowslider.com/sliders/demo-56/data1/images/st._james,_sunset_point.jpg); */
}
li:nth-child(3) {
	background: #E6D52F;
	/* background-image: url(http://www.slidesjs.com/img/example-slide-350-2.jpg); */
}
li:nth-child(4) {
	background: #059839;
	/* background-image: url(http://wowslider.com/sliders/demo-5/data/images/sur.jpg); */
}
li:nth-child(5) {
	background: #E62F2F;
	/* background-image: url(http://www.nationalvideo.com.au/wp-content/uploads/2013/12/35mm-slides.jpg); */
}

#prev, #next {
	width: 50px;
	line-height: 50px;
	border-radius:50%;
	font-size: 2rem;
	text-shadow: 0 0 20px rgba(0,0,0,0.6); 
	text-align:center;
	color:white;
	text-decoration: none;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	transition: all 150ms ease;
}

#prev:hover {
	text-shadow:0;
	background-color: rgba(0,0,0,0.5);
}
#next:hover {
	text-shadow:0;
	background-color: rgba(0,0,0,0.5);
}
#prev {
	left:10px;
}
#next {
	right: 10px;
}
